/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container {
    width: 80%;
    margin: 40px auto;
}

.clearfix::before {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header.header {
    height: 150px;
    background-color: #e579e6;
}

/* MAIN */
.photo {
    height: 450px;
    background-color: #e1d67a;
}

.leader {
    height: 600px;
    background-color: #3484f6;
    margin-bottom: 0;
}

.leader .header { 
    height: 90px;
    width: 100%;
    background-color: #accfe7;
}

.leader .tab-left {
    height: 470px;
    width: 23%;
    background-color: #accfe7;
    margin: 20px 0;
    float: left;
}

.leader .tab-center {
    height: 470px;
    width: 50%;
    background-color: #accfe7;
    margin: 20px 2%;
    float: left;
}

.leader .tab-right {
    height: 470px;
    width: 23%;
    background-color: #accfe7;
    margin: 20px 0;
    float: left;
}

/* FOOTER */
.footer {
    height: 75px;
    background-color: #8c4cf6;
    margin-top: 10px;
}